<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/assets/styles.css"/>
        <title>SPANDAN'23 REGISTRATION FORM</title>
    </head>

    <body class="simple-style" onLoad=displayOption(<%= ui.menuitem %>)>
        <% include ./navbar.ejs %>
        <% include ./mongo.ejs %>
    </body>

</html>





